{% extends 'base.html' %}

{% block content%}
attendance Details


<body class="text-center">
    <p> DEPARTMENT: {{ dept }} </p>
    <p> YEAR: {{ year }} </p>
    <p> SEMESTER: {{ semester }} </p>
    <p> TEACHER: {{ teacher }} </p>
    <p> COURSE: {{ course }} </p>
    <p> SECTION: {{ section }} </p>

    <div>
        <table class="table table-hover table-dark" style="margin-top: 60px">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Roll Number</th>
                    <th scope="col">Recorded Time</th>
                    <th scope="col">Recorded Date</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile Number</th>
                    <th scope="col">Gender</th>
                </tr>
            </thead>

            <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{ student.name }}</td>
                        <td>{{ student.roll_no }}</td>
                        {% for present in student.attendance %}
                        <td>{{ present.time }}</td>
                        <td>{{ present.date }}</td>
                        {% endfor %}
                        <td>{{ student.email }}</td>
                        <td>{{ student.mobile_no }}</td>
                        <td>{{ student.gender }}</td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>


{% endblock%}
           
