{% extends 'base.html' %}

{% block content %}
<section class="student-details">
    <div>
        <h4><b>Name: </b>{{ name }}</h4>
        <h4><b>Roll Number: </b>{{ roll_no }}</h4>
        <h4><b>Section: </b>{{ section }}</h4>
        <h4><b>Year: </b>{{ year }}</h4>
        <h4><b>Days Present: </b>{{ days_present }}</h4>
    </div>
    <div>
        <h4><b>Department: </b>{{ dept }}</h4>
        <h4><b>Course: </b>{{ course }}</h4>
        <h4><b>Gender: </b>{{ gender }}</h4>
        <h4><b>Email Address: </b>{{ email }}</h4>
        <h4><b>Mobile Number: </b>{{ mobile_no }}</h4>
    </div>
</section>

<form method='POST' class="'form-signin text-center" novalidate>
    {{ form.hidden_tag() }}
    {{ form.submit(class="btn") }}
</form>



    <div class="text-center">
        <table class="table" >
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Roll Number</th>
                    <th scope="col">Recorded Time</th>
                    <th scope="col">Recorded Date</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile Number</th>
                    <th scope="col">Gender</th>
                </tr>
            </thead>

            <tbody>
                
                    {% for record in student %}

                    <tr class="table-row-hover">
                        <td>{{ record.name }}</td>
                        <td>{{ record.roll_no }}</td>
                        <td>{{ record.time }}</td>
                        <td>{{ record.date }}</td>
                        <td>{{ record.email }}</td>
                        <td>{{ record.mobile_no }}</td>
                        <td>{{ record.gender }}</td>
                        
                    </tr>
                    {% endfor %}
              
            </tbody>
        </table>
    </div>



{% endblock%}