{% extends 'base.html' %}

{% block content %}

    <div class="container text-center">
        <form method='POST' class="'form-signin" style="color:white">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal">Please Log In to Your Account</h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="Enter username") }}
    
            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Enter password") }}
    
            <br>

            {{ form.submit(class="btn")}}

            <div class="checkbox mb-3">
                <h6>Don't have an account?</h6>
                <a href="{{ url_for ('register') }}" class="btn">Register</a>
            </div>
            
            
        </form>
    </div>

{% endblock %}