{% extends 'base.html' %}

{% block content %}

<div class="container text-center">
    <form method='POST' class="'form-register" style="color:white">
        {{ form.hidden_tag() }}
        <h1 class="h3 mb-3 font-weight-normal">Please Create Your Account</h1>
        <br>
        {{ form.username.label() }}
        {{ form.username(class="form-control", placeholder="Enter username") }}

        {{ form.email.label() }}
        {{ form.email(class="form-control", placeholder="Enter email") }}

        {{ form.password1.label() }}
        {{ form.password1(class="form-control", placeholder="Enter password") }}

        {{ form.password2.label() }}
        {{ form.password2(class="form-control", placeholder="Confirm password") }}

        <br>

        {{ form.submit(class="btn")}}

        <div class="checkbox mb-3">
            <h6>Already have an account?</h6>
            <a href="{{ url_for ('login') }}" class="btn">Login</a>
        </div>

    </form>
</div>

{% endblock %}