{% extends 'base.html' %}

{% block content %}
    <div class="container text-center">
        <form method='POST' class="form-register" style="color:white", enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            
            {{ form.name.label() }}
            {{ form.name(class="form-control", placeholder="Enter Name: ") }}
            
            {{ form.roll_no.label() }}
            {{ form.roll_no(class="form-control", placeholder="Enter Roll Number: ") }}
            
            {{ form.email.label() }}
            {{ form.email(class="form-control", placeholder="Enter Email Address: ") }}
                    
            {{ form.mobile_no.label() }}
            {{ form.mobile_no(class="form-control", placeholder="Enter Mobile Number: ") }}
            
            {{ form.dept.label() }}
            {{ form.dept(class="form-control") }}
            
            {{ form.course.label() }}
            {{ form.course(class="form-control") }}
            
            {{ form.section.label() }}
            {{ form.section(class="form-control") }}
            
            {{ form.year.label() }}
            {{ form.year(class="form-control") }}
            
            {{ form.semester.label() }}
            {{ form.semester(class="form-control") }}
            
            {{ form.gender.label() }}
            {{ form.gender(class="form-control") }}

            {{ form.teacher.label() }}
            {{ form.teacher(class="form-control", placeholder="Enter Teacher Name: ") }}
            
            <br>
            {{ form.submit(class="btn") }}

        </form>
    </div>



{% endblock%}