{% extends 'base.html' %}

{% block content %}

<div class="container text-center">
    <form method='POST' class="'form-register" style="color:white">
        {{ form.hidden_tag() }}
        {{ form.username.label() }}
        {{ form.username(class="form-control", placeholder="Enter username") }}
        
        {{ form.first_name.label() }}
        {{ form.first_name(class="form-control", placeholder="Enter First Name") }}

        {{ form.last_name.label() }}
        {{ form.last_name(class="form-control", placeholder="Enter Last Name") }}

        {{ form.dept.label() }}
        {{ form.dept(class="form-control", placeholder="Enter Department") }}
        
        {{ form.gender.label() }}
        {{ form.gender(class="form-control", placeholder="Enter Gender") }}
        
        {{ form.mobile_no.label() }}
        {{ form.mobile_no(class="form-control", placeholder="Enter Mobile Number") }}

        {{ form.email.label() }}
        {{ form.email(class="form-control", placeholder="Enter email") }}

        {{ form.password1.label() }}
        {{ form.password1(class="form-control", placeholder="Enter password") }}

        {{ form.password2.label() }}
        {{ form.password2(class="form-control", placeholder="Confirm password") }}

        <br>

        {{ form.submit(class="btn")}}

        <div class="checkbox mb-3">
            <h6>Already have an account?</h6>
            <a href="{{ url_for ('login') }}" class="btn">Login</a>
        </div>

    </form>
</div>

{% endblock %}