{% extends 'base.html' %}

{% block content %}
<section class="student-details">
    <div>
        <h4>Name: {{ student.name }}</h4>
        <h4>Roll Number: {{ student.roll_no }}</h4>
        <h4>Department: {{ student.dept }}</h4>
        <h4>Section: {{ student.section }}</h4>
        <h4>Year: {{ student.year }}</h4>
    </div>
    <div>
        <h4>Course: {{ student.course }}</h4>
        <h4>Semester: {{ student.semester }}</h4>
        <h4>Gender: {{ student.gender }}</h4>
        <h4>Email Address: {{ student.email }}</h4>
        <h4>Mobile Number: {{ student.mobile_no }}</h4>
    </div>
</section>
<h4 class="days-present">Days Present: {{ student.days_present }}</h4>



    <div class="text-center">
        <table class="table" >
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Roll Number</th>
                    <th scope="col">Recorded Time</th>
                    <th scope="col">Recorded Date</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile Number</th>
                    <th scope="col">Gender</th>
                </tr>
            </thead>

            <tbody>
                
                    {% for present in student.attendance %}

                    <tr class="table-row-hover">
                        <td>{{ student.name }}</td>
                        <td>{{ student.roll_no }}</td>
                        <td>{{ present.time }}</td>
                        <td>{{ present.date }}</td>
                        <td>{{ student.email }}</td>
                        <td>{{ student.mobile_no }}</td>
                        <td>{{ student.gender }}</td>
                        
                    </tr>
                    {% endfor %}
              
            </tbody>
        </table>
    </div>



{% endblock%}