{% extends 'base.html' %}

{% block content %}

<body class="">
    <div class="container text-center">
        <form method='POST' class="form-register" style="color:white", enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal">Upload a Photo here</h1>
            <br>
            
            {{ form.roll_no.label() }}
            {{ form.roll_no(class="form-control", placeholder="Enter Roll Number: ") }}
            
            {{ form.photo_sample.label() }}
            {{ form.photo_sample(class="form-control", placeholder="Upload a Photo: ") }}
            
            <br>
            {{ form.submit(class="btn") }}

        </form>
    </div>
</body>


{% endblock%}